<%- include(`../partials/head`) %>
  <title>Mobile-added</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <%- include(`../partials/adminHeader`) %>

  <h2> Mobile Added Successfully</h2>
</body>
</html>