<header>
  <h1 > Admin Panel</h1>
  <a id="a1"  href="/Admin/addMobile">ADD MOBILE</a>
  <a id="a2" href="/Admin/mobileList">MOBILE LIST</a>
  <a id="a3" href="/Admin/repair" >REPAIR</a>
  <a id="a4" href="/Admin/order" >ORDER</a>
</header>