
<header>
  <div id="upwrap">
      <div id="upperHeader">
          <img id="logo" src="/images/logo.png" alt="logo">
          <button class="headButton"> <i id="headIcon" class="fa-solid fa-magnifying-glass"></i></button>
          <button class="headButton"> <i id="headIcon" class="fa-solid fa-cart-shopping"></i></button>
          <button class="headButton"> <i id="headIcon" class="fa-solid fa-bars"></i></button>
      </div>
  </div>
  <div id="lowerHeader">
      <div class="nav-container final-nav">
              <div class="final-indicator"></div>
              <a href="/" class="nav-link active">Home</a>
              <a href="/store" class="nav-link">Store</a>
              <a href="/orders" class="nav-link">Orders</a>
              <a href="/repair" class="nav-link">Repair</a>
              <a href="/contact" class="nav-link">Contact</a>
      </div>
          
  </div>
</header>