<%- include(`../partials/head`) %>
    <title>harishMobile</title> 
    <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/3a523928fc.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="javascript/store.js"></script>
    <%- include(`../partials/storeHeader`) %>
    
    <section id="imageSlider">
    <div class="carousel" id="carousel">
        <div class="carousel-track">
          <img id="slide1" src="/images/is1.png" alt="Image 1">
          <img id="slide2" src="/images/is2.png" alt="Image 2">
          <img id="slide3" src="/images/is3.png" alt="Image 3">
          <img id="slide4" src="/images/is4.png" alt="Image 4">
        </div>
        <div class="carousel-dots" id="dots"></div>
       </div>
    </section>

    <div id="secondhandmobile">
        <h3>Second-Hand mobile</h3>
        <i></i>



    </div>
    <img id="bis" src="/images/test5.png" alt="test">

   
   

</body>
</html>