<%- include(`../partials/head`) %>
  <title>HRstore</title>
  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/3a523928fc.js" crossorigin="anonymous"></script>
 </head>
<body>
  <script src="javascript/store.js"></script>
  <%- include(`../partials/storeHeader`) %>
  <h1>store</h1>
</body>
</html>