*{
    margin:0;
    padding:0;
}

#upperHeader{
    background-color: #323a40;
    width:99.5vw;
    height:7vh;
    position:absolute;
    top:0;
    left:0;
    clip-path: polygon(0% 0%,100% 0%,100% 5%,95% 50%,5% 50%,0% 100%);
    display:flex;
    z-index:5 ;
    border: 3px solid #09101f;
 }

@media(min-width:800px){
    #upperHeader{
        background-color: #323a40;
        width:99.8vw;
        height:7vh;
        position:absolute;
        top:0;
        left:0;
        clip-path: polygon(0% 0%,100% 0%,98% 50%,3% 50%,0% 100%);
        display:flex;
        z-index:5 ;
        border: 3px solid #09101f;
     }
}



#logo{
    margin-right: auto;
    color: #f5f7f8;
    height: 3.5vh;
    position: relative;
    left: 0.5vh;
  
    
}

.headButton{
    border:none;
    margin-right: 5vw;
    height: 3.5vh;
    background-color: #323a40;
    
}
#upwrap{
    filter:drop-shadow(1px 4px 0 #09101f);
    z-index: 5;
}


#headIcon{
    font-size: 2vh;
    color: #f5f7f8;
}
#lowerHeader{
    background-color: #f5f7f8;
    position:absolute;
    height: 8vh;
    width: 100vw;
    z-index: -10;
   

}
/* header nav = 67 to 105 mobile */
.final-nav {
    position: absolute;
    margin-top:3.2vh;
    border-radius: 30px;
    height: 1vh;
    padding: 15px 30px;
    display: flex; 
    width: 80vw;
    gap: 2vw;
    left:5vw;
    z-index: -8;
}
  
.final-nav .nav-link {
    position: relative;
    text-decoration: none;
    color: #09101f;
    font-size: 1.7vh;
    margin-right:4vw;
    border-radius: 25px;
    z-index: -5;
    transition: color 0.3s;
    
}
  
.final-nav .nav-link.active {
    color: #f5f7f8;
    
}
  
.final-indicator {
    position: absolute;
    height: 2.7vh;
    background-color: #323a40;
    border-radius: 3vh;
    top:32%;
    left: 20px;
    /* transition: left 0.3s ease, width 0.3s ease; */
    z-index: -7;
    box-shadow: 1.5px 2.5px 0 #09101f;
}
/* Image slider 108 to 163*/

.carousel {
 width: 100%;
 overflow: hidden;
    position: absolute;
    top:8.2vh;
    height: 25vh;
    
  }
  
.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
  
.carousel-track img {
    width: 100%;
    flex-shrink: 0;
    object-fit: contain;
    
    
}
  /* Dots inside the image */
.carousel-dots {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2vw;
  }
  
.dot {
    width: 1vh;
    height: 1vh;
    background-color: rgb(21, 21, 21);
    border-radius: 50%;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}
  
  /* Active dot (larger and more visible) */
.dot.active {
    width: 1.5vh;
    height: 1.5vh;
    opacity: 1;
    position:relative;
    bottom: 0.25vh;
    
}
  /* Dots with text characters */
  carousel-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px black;
  }
#bis{
  position: absolute;
  top:58vh;
  width:100vw;
  height:20vh;
  object-fit: contain;
}
#secondhandmobile{
  position: absolute;
  top:33vh;
  background-color: antiquewhite;
  height: 5vh;
}