* {
  margin: 0;
  padding: 0;
}

a,
button {
  -webkit-tap-highlight-color: transparent; /* Mobile tap flash */
  outline: none;
}

a:focus,
a:active,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 5vh;
}

/* =========================================================
   HEADER (GLASSMORPHISM)
========================================================= */
.site-header {
  position: fixed;
  top: 0vh;
  background-color: #323a40;
  padding: 1vh 3vw;
  width: 94vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #0e192a;
  box-shadow: 2px 1px 10px #0e192a;
}

.logo {
  font-size: 2vh;
  font-weight: 600;
  color: #1f7a3f;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

#i-1 {
  width: 40vw;
  margin-right: 2vw;
}

.nav-links {
  display: none;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  color: #f5f7f8;
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: #f5f7f8;
  cursor: pointer;
  margin-right: 2vw;
}
@media (min-width: 768px) {
  #i-1 {
    width: 12vw;
  }
  #i-2 {
    width: 40vw;
  }
  .menu-btn {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  #i-1 {
    width: 6vw;
  }
  #i-2 {
    width: 20vw;
  }

  .nav-links {
    display: flex;
  }
}

/* ===== image slider ===== */

.carousel {
  margin-left: 3vw;
  width: 94vw;
  margin-top: 2vh;
  overflow: hidden;

  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

/* one full image on mobile */
.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  border-radius: 18px;
  aspect-ratio: 1680/945;
  object-fit: cover;
}

/* dots */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 12px 0;
}

.carousel-dots span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #cfcfcf;
  cursor: pointer;
}

.carousel-dots span.active {
  background: #111;
}

/* ===== DESKTOP / LAPTOP ===== */
@media (min-width: 1024px) {
  .carousel {
    padding: 0 80px; /* space to show half images */
  }

  .slide {
    flex: 0 0 60%; /* center image */
    padding: 0 15px;
    box-sizing: border-box;
  }

  .slide img {
    height: 320px;
    border-radius: 14px;
  }
}

/* ===========category============ */

#cat-title {
  font-family: "Alegreya SC", serif;
  color: #0e192a;
  font-size: 4vh;
  letter-spacing: 1px;
  
  margin-left: 4vw;
  margin-bottom: 3vh;
  font-weight: 400;
}
.upper-cat {
  display: flex;
  margin-bottom: 3vh;
}
#cat {
  width: 45vw;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 3vw;
  margin-right: 4vw;
  background: url("./images/cat-refurb.jpg") center / cover no-repeat;
  aspect-ratio: 4000/2500;
  border: 2px solid #0e192aaa;
}
#cat2 {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 45vw;
  background: url("./images/cat-new.jpg") center / cover no-repeat;
  aspect-ratio: 4000/2500;
  border: 2px solid #0e192aaa;
}

#cat3 {
  width: 94vw;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #0e192aaa;
  margin-left: 3vw;
  background: url("./images/cat-accessory.png") center / cover no-repeat;
  aspect-ratio: 2046/839;
}

#cat::after,
#cat2::after,
#cat3::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
}

#cat h3,
#cat2 h3 {
  position: absolute;
  z-index: 2;
  color: #f5f7f8;
  font-size: 3.5vw;
  font-family: "Overlock SC", sans-serif;
  letter-spacing: 1px;
  left: 2vw;
  bottom: 1vh;
}

#cat3-data {
  position: absolute;
  right: 3vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  bottom: 3vh;
  gap: 3vh;
}

#cat3 h3 {
  display: inline-block;
  color: #f5f7f8;
  font-size: 5vw;
  font-family: "Overlock SC", sans-serif;
  letter-spacing: 1px;
}
#cat-shop {
  color: #f5f7f8;
  font-size: 4vw;
  font-weight: 300;
  padding: 3px;
  padding: 1vh 3vw;
  letter-spacing: 1px;
  border: 2px solid #f5f7f8;
  border-radius: 5px;
  width: fit-content;
}

/* =================top sellers======== */
.top-sellers {
  background: #ffffff;
  padding: 60px 5%;
}

.section-title {
  text-align: start;
  font-family: "Alegreya SC", serif;
  color: #0e192a;
  font-size: 3.5vh;
  letter-spacing: 1px;
  
  font-weight: 400;
  margin-bottom: 4vh;
}

.mobile-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.mobile-card {
  background: #ffffff;
}

.mobile-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #f5f5f5; /* placeholder */
  margin-bottom: 15px;
  border-radius: 14px;
}

.mobile-image img {
  width: 80%;
}

.mobile-title {
  font-size: 16px;
  font-weight: 500;
  font-family: "Alice", serif;
  margin-bottom: 8px;
}

.mobile-price {
  font-size: 18px;
  font-weight: 600;
  font-family: "Alice", serif;
  color: #e60023;
}

/* Tablet */
@media (min-width: 768px) {
  .mobile-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .mobile-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ================= BRAND NEW SLIDER ================= */

/* ================= BRAND NEW SECTION ================= */

.bn-section {
  background: #f5f7f8;
}

.bn-title {
  font-family: "Alegreya SC", serif;
  color: #0e192a;
  font-size: 3.5vh;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-left: 3vw;
}


.bn-slider-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.bn-slider {
  display: flex;
  gap: 5vw;
  padding: 2vh 3vw;
  padding-bottom: 6vh;
}

.bn-slider::-webkit-scrollbar {
  display: none;
}

/* ================= CARD ================= */

.MobileCard {
  width: 43vw;
  flex-shrink: 0;
  background: #f5f7f8;
  border-radius: 14px;
  padding: 0.8rem;
  text-decoration: none;
  position: relative;
  display: block;
  box-shadow: 3px 3px 6px #d0d2d3,
              -3px -3px 6px #ffffff;
}

.MobileCard:active,
.MobileCard:focus,
.MobileCard:visited {
  outline: none;
  box-shadow: 3px 3px 6px #d0d2d3,
              -3px -3px 6px #ffffff;
}

/* Image wrapper */
#card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileImage {
  width: 90%;
  margin: 2vh 0 1vh 0;
  border-radius: 6px;
}

/* Title */
#card-name {
  color: #323a40;
  font-size: 2.1vh;
  font-family: "Arsenal", sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 1vh;
}

.cardLogo {
  position: absolute;
  left: 0px;
  top: 2px;
  height: 0.8rem;
  font-size: 2.5vw;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

/* Rating */
.mobileRating {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.6vh;
}

.mobileRating .star-wrapper {
  position: relative;
  display: inline-block;
  font-size: 1.5vh;
}

.mobileRating .stars-empty {
  color: #ddd;
  white-space: nowrap;
}

.mobileRating .stars-filled {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: #f5c518;
}

.rating-number {
  font-size: 1.8vh;
  margin-left: 5px;
  color: #192f49c5;
  font-family: "Alice", serif;
}

/* Discount + MRP */
#card-discout {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 1vh;
}

.mobileDiscount {
  font-size: 4.5vw;
  color: #d32f2f;
  font-weight: bold;
  font-family: "Alice", serif;
}

.mobileMRP {
  text-decoration: line-through;
  font-size: 4.5vw;
  color: #454545ca;
  font-family: "Alice", serif;
}

/* Final Price Ribbon */
.finalPriceWrap {
  position: relative;
  display: inline-block;
}

#ribbon-wrap {
  filter: drop-shadow(2px 2px 0.7px #192f4965);
}

.finalPrice {
  position: relative;
  left: -1rem;
  background: #192f49;
  color: #fff;
  font-size: 5vw;
  font-weight: bold;
  padding: 0.3rem 0.9rem;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-family: "Alice", serif;
}

.cornerRibbonLeft {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #192f49d3 transparent;
  position: relative;
  left: -1rem;
  transform: rotate(-90deg);
}

/* Desktop adjustments */
@media (min-width: 768px) {
  .MobileCard {
    width: 28vw;
  }
}

@media (min-width: 1024px) {
  .MobileCard {
    width: 22vw;
  }
}

/* ===================repair============= */
#repair {
  display: flex;
  flex-direction: column;
}
#repair-title {
  text-align: start;
  font-family: "Alegreya SC", serif;
  color: #0e192a;
  font-size: 3.5vh;
  letter-spacing: 1px;
  
  font-weight: 400;
  margin-bottom: 2vh;
  margin-left: 3vw;
}
.repair-data {
  margin-top: 3vh;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vh;
  justify-content: space-around;
}
.repair-data p {
  font-size: 19px;
  width: 85vw;
  text-align: justify;
  font-family: "Alice", serif;
}

.repair-data a {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
 color: white;
  background-color: #323a40;
  padding: 0.8vh 4vw;
  border-radius: 12px;
  font-size: 18px;
}

.repair-img {
  width: 90vw;
  margin-left: 5vw;
}

.repair-img img {
  width: 90vw;
  border-radius: 12px;
}

/* ================contact========== */

.contact-section h2{
   text-align: start;
  font-family: "Alegreya SC", serif;
  color: #0e192a;
  font-size: 3.5vh;
  letter-spacing: 1px;
  
  font-weight: 400;
  margin-bottom: 2vh;
  margin-left: 3vw;
}
.contact-conatiner{
  width: 100vw;
  position: relative;
}

#map{
width:80vw;
position: absolute;
right: 3vw;
border-radius: 12px;
}

.contact-icons{
  position: absolute;
  z-index: 2;
  left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ribon-name i{
  font-size: 2.3vh;
}
.ribon-name h3{
  font-size: 2.3vh;
}
.ribon-name{
  display: flex;
  color: #0e2a47;
  font-family: "Inika", serif;
  gap: 3vw;
}

.contact-icon{
  margin-top: 4vh;
  margin-bottom: 1vh;
  font-size: 17px;
  color: #0e2a47;
  font-family: "Inika", serif;
  display: block;
  z-index: 3;
  background-color: #566f7c;
  width: 40vw;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 2px 6px 8px #00000095;
  background: linear-gradient(135deg, #ddecff 0%, #a8c8fc 50%, #617394 100%);
  padding: 1vh 5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}